<?php 
  
  define('DEBUG', true);

  define('DB_DRIVER', 'mysql');

  // Mysql/Postgres username
  define('DB_USERNAME', 'root');

  // Mysql/Postgres password
  define('DB_PASSWORD', '{{ mysql_root_pass }}');

  // Mysql/Postgres hostname
  define('DB_HOSTNAME', 'localhost');

  // Mysql/Postgres database name
  define('DB_NAME', 'kanboard');

  // Mysql/Postgres custom port (null = default port)
  define('DB_PORT', null);

?>
